<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- <add name="SolutionsEntities" connectionString="metadata=res://*/Solutions.csdl|res://*/Solutions.ssdl|res://*/Solutions.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KINGFAHAD;initial catalog=Solutions;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="SolutionsEntities" 
       connectionString="metadata=res://*/Solutions.csdl|res://*/Solutions.ssdl|res://*/Solutions.msl;provider=System.Data.SqlClient;provider connection string=&quot;
       data source=c0dd3c2f-915e-438c-a722-a5f1012757bb.sqlserver.sequelizer.com;initial catalog=dbc0dd3c2f915e438ca722a5f1012757bb;persist security info=True;
       user id=ndjziedutthagysm;password=KPBk5apQoguvan4QRmfbc2pGZVcQHUVmUtnC2xxD2PPmXUWHZJrd2QASz3th6GgA;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>